body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
}

/* Navbar */

a.brand-logo {
    font-size: 1.5rem;
    padding-left: 20px;
}

/* Index */ 

.container-masthead {
    position: relative;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table-cell;
    vertical-align: middle;
}

.responsive {
    width: 100%;
    height: auto;
    max-width: 1218px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}



.column-icons {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: auto;
}

/* Clear floats after the columns */
.row-icons:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 992px wide, 
make the 3 columns stack on top of each other instead of next to each other */
@media screen and (max-width: 992px) {
    .column-icons {
        width: 100%;
    }
}



/* Gallery */

.card-body {
    padding-left: 20px;
    padding-bottom: 20px;
}


/* Forms */


i.material-icons {
    color: #26a69a ;
}


/* Footer */

footer.footer {
    background-color: #c0c0c1;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}



