/* Navigation Bar */

.navbar {
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  overflow: hidden;
  display: inline;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color:#28a745;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 685px) {
  .nav-link:not(:first-child) {
    display: none;
  }
  .navbar a.icon {
    display: block;
  }
}

@media screen and (max-width: 685px) {
  .navbar.responsive {
    position: relative;
  }
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    display: block;
    text-align: left;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
}



/* Gallery */


.col-md-12 {
  margin-top: 50px;
}

.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
  margin-top: 80px;
}

/* Add padding BETWEEN each column */
.row,
.row > .col-md {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.col-md {
  float: left;
  width: 33%;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Content */
.content {
  background-color: white;
  padding: 10px;
  border-style: groove;
}



@media screen and (max-width: 900px) {
  .col-md {
    width: 50%;
  }
}


@media screen and (max-width: 600px) {
  .col-md {
    width: 100%;
  }
}

