
/* Gallery */


.col-md-12 {
  margin-top: 50px;
}

.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
  margin-top: 80px;
}

/* Add padding BETWEEN each column */
.row,
.row > .col-md {
  padding: 8px;
}

/* Create three equal columns */
.col-md {
  width: 33%;
}




/* Content */
.content {
  background-color: white;
  padding: 10px;
  border-style: groove;
}



@media screen and (max-width: 900px) {
  .col-md {
    width: 50%;
  }
}


@media screen and (max-width: 600px) {
  .col-md {
    width: 100%;
  }
}

