{% extends 'base.html' %} {% block content %}


<!--Form to add a new house to the DB green_buildings -->

    <h2 style="margin-top:100px; padding-left:50px;">Join the Green Builders Comunity</h2>
    <h4 style="padding-left:50px;">Add your own green home and show it to the world!</h4> 

<div class="row">
        <div class="col-md-12 d-flex justify-content-center text-left">
            <form action="{{url_for('insert_house')}}" method="POST" name="add_house" id="add_house">
                <i class="material-icons">home</i>
                <label class="form-field-description">Select Category</label>
                <select class="form-control categories-formfield" id="category" name="category_name">
                    <!-- Populates categories from DB green_buildings -->
                    {% for category in categories %}
                        <option value="{{category.category_name}}" class="left">{{category.category_name | capitalize}}</option>
                    {% endfor %}
                </select>
                <div class="form-group">
                    <div class="controls">
                        <i class="material-icons">face</i><label class="form-field-description">Your Name</label>
                            <input type="text" class="form-control" id="user_name" name="user_name" required data-validation-required-message="Please enter your name." maxlength="100">
                    </div>
                </div>      
                <div class="form-group">
                    <div class="controls">
                    <i class="material-icons">house</i><label class="form-field-description">Green Building name</label>
                        <input type="text" class="form-control" id="house_name" name="house_name" required data-validation-required-message="Please enter your house name." maxlength="100">
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                    <i class="material-icons">room</i><label class="form-field-description">Location</label>
                        <input type="text" class="form-control" id="location" name="location" required data-validation-required-message="Please enter your location." maxlength="100">
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                    <i class="material-icons">calendar_today</i><label class="form-field-description">Year of construction</label>
                        <input type="text" class="form-control" id="year" name="year" required data-validation-required-message="Please enter the year of construction." maxlength="4">
                    </div>
                </div>                      
                <div class="form-group">
                    <div class="controls">
                    <i class="material-icons">add_photo_alternate</i><label class="form-field-description">Add your picture</label>
                        <input type="file" class="form-control" id="image" name="image" >
                        <button type="button" class="btn btn-suscess">Upload</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                    <i class="material-icons">reorder</i><label class="form-field-description">Description</label>
                    <textarea class="form-control" id="description" name="description" required data-validation-required-message="Please enter a short house description." maxlength="1000" ></textarea>
                    </div>
                </div>
            <div class="col-md-10">
            <div class="btn-group" role="group" style="padding-left:260px;">
                <button type="submit" class="btn btn-suscess" id="sendMessageButton">Insert</button>
                <button type="button" class="btn btn-suscess" href="{{url_for('index')}}">Cancel</button>
            </div>
            </div>
        </form>
        </div>
    </div>

    <script>
    $(document).ready(function(){
        $('select').formSelect();
    });
    </script>


{% endblock %}