{% extends 'base.html' %} {% block content %}

<div class="container">
    <div class="col-md-12 justify-content-center text-center">
    <h1 style="margin-top:80px;">Visit the gallery</h1>
<!-- Shows the gallery houses in the database base on category selection -->
        <a href="{{url_for('add_house')}}" class="btn btn-success" style="margin-bottom: 50px;">Add yours</a>  
    </div>
</div>


    {% for house in houses %}
        <div class="row">
            <div class="column">
                <img class="img-fluid" src="{{ house.image }}">
                <p class="category ">Main material used:  {{ house.category_name | capitalize}}</p>
                <div class="house_name ">{{ house.house_name }}:</div>
                <div class="description">{{ house.description }}</div>
                <a href="{{url_for('house_detail', house_id=house._id)}}" class="btn btn-success" style="text-align:center;">More info.</a>
            </div>
        <div>        
  
    {% endfor %}
   

{% endblock %}    
  
    



    