{% extends 'base.html' %} {% block content %}
<!-- Header -->
<header>
<div class="container-masthead">
    <img class="responsive" src="/static/img/stone_home.jpg">
    <div class="centered">
    <h2 style="font-size:6vw;">Welcome to the Green Builders Comunity.<br></h2>
    <h3 style="font-size:4vw;">This is your site to learn, share and get inspiration about small sustainable houses!</h3>
    <h5 style="font-size:2vw;">Join the community, just add your Green Building</h5>
    </div>
</div>
</header>

    <!-- Icons Grid -->
<section class="icons"> 
    <div>       
        <div class="container">
            <h4 class="center">The common objective of green buildings is to reduce the overall impact of the built environment 
        on human health and the natural environment by:</h4>
        </div>
    </div>
    <div class="container">
      <div class="row-icons">
        <div class="column-icons">
          <div class="icons-item center">
            <div class="icons-icon">
              <i class="large material-icons">wb_sunny</i>
            </div>
            <h4 class="center">Sustainable energy and natural resources use.</h4>
            <h6 class="lead center">Using energy, water, and other resources efficiently.<br>Applying heating, ventilation and cooling system efficiency.</h6>
          </div>
        </div>
        <div class="column-icons">
          <div class="icons-item center">
            <div class="icons-icon">
              <i class="large material-icons">local_florist</i>
            </div>
            <h4 class="center">Reducing environmental impact.</h4>
            <h6 class="lead center">Protecting your family and enviroment health.<br>Every building should be as small as possible and not to contribute to sprawl.</h6>
          </div>
        </div>
        <div class="column-icons">
          <div class="icons-item center">
            <div class="icons-icon">
              <i class="large material-icons">toys</i>
            </div>
            <h4 class="center">Sustainable building materials</h4>
            <h6 class="lead center" style="padding-bottom: 20px;">Reducing waste, pollution and environmental degradation. Re-using, recycling materials.<br>Lower volatile organic compounds. Under materials sustainability standards.</h6>
          </div>
        </div>
    </div>
  </section> 
  

     

{% endblock %}